.row {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

.row h3.block {
    width: 100%;
    text-align: center;
    background-color: rgb(61, 107, 109);
    color: whitesmoke;
    margin-top: 0%;
}


.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
    
}

.column p {
    text-align: left;
    
}

.column .cover{
    width: 100%;
    min-height: 90%;
    align-self: center;
}

.detail {
    background-color: #7DCEA0;
}

.column p {
    text-align: left;
    margin-bottom: 1%;
    margin-top: 1%; 
}

.column p.listTitle {
    text-align: center;
    /*width: 100%;*/
    align-self: center;
}


ul{
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: space-around;
    margin-bottom: 1%;
    margin-top: 1%; 
}

li {
    list-style-type: none;
    border: solid cadetblue 1px;
    padding: 1%;
    background-color: rgb(61, 107, 109);
    color: whitesmoke;
}

li:hover {
    background-color: whitesmoke;
    color: black;
}

@media (min-width: 769px) {
    .row h3.block {
        border-bottom: 1px solid black;
        margin-bottom: 0px;
    }

    .column {
      width: 49.9%;
    }
 
    .border-column {
        border-right: 1px solid black;
    }
}