.category-panel {
    /* margin-top: 10px; */
    background-color: rgba(56, 86, 87, 0.393);
    border-radius: 10px;
    margin: 0 15px 15px;
    padding-bottom: 10px;
  }
.category-panel > h3 {
    width: 100%;
    text-align: center;
    background-color: rgb(61, 107, 109);
    color: whitesmoke;
    margin-top: 0%;
    margin-bottom: 2.5%;
    border-radius: 10px 10px 0 0;
}
  
   @media (min-width: 769px) {
    .category-panel{
      margin: 15px 25px 20px;
      
    }
    
    .category-panel > h3 {
      border-bottom: 1px solid black;
      margin-bottom: 0;
    }
  } 