.productsPanel {
    margin-top: 10px;
    margin-bottom:15px;
    background-color: rgba(56, 86, 87, 0.393);
    /* border-radius: 2px; */
    border-radius: 10px;
    /*padding: 20px;*/
    padding: 0%;
    width: 100%;
    /* border: 1px solid black; */
  }

  .productsPanel > h3 {
    width: 100%;
    text-align: center;
    background-color: rgb(61, 107, 109);
    color: whitesmoke;
    margin-top: 0%;
    margin-bottom: 2.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .descriptionProductsPanel {
    margin-bottom: 10px;
    background-color: rgba(154, 201, 154, 0.945);
    text-align: center;
  }

  ul.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li.book {
    width: 40%;
  }

  div.buttonRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  div.pageNumber {
    display: inline;
  }

  li.titleLi {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  @media (min-width: 769px) {
    .productsPanel {
      width: 48%;
      margin-top: 0px;
      margin-bottom:0px;
    }
    .productsPanel > h3{
      border-bottom: 1px solid black;
    }

    p.description {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }

    h4.bookTitle{
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    p.description {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
