<footer class="box-footer" style="background-color: rgba(95, 158, 160, 0.742); color: #2F2F2F;">
    <div class="box box-contact">
        <img src="/images/logo/logo_p_horizontal.png" alt="">
        <h3 class="redes-sociales">REDES SOCIALES</h3>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-regular fa-envelope"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
    <div class="box box-link">
        <h3>Navegación</h3>
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">Quiénes Somos</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="/users/register">Registrarse</a></li>
            <li><a href="/products/cart">Carrito de Compras</a></li>
            
        </ul>
    </div>

    <div class="box box-link">
        <h3>Compras</h3>
        <ul>
            <li><a>Medios de Pago</a></li>
            <li><a>Devoluciones</a></li>
            <li><a>Garantía</a></li>
            <li><a>Costos y tiempos de envío</a></li>
            <li><a>Política de Reembolso</a></li>
        </ul>
    </div>

    <div class="box box-link">
        <h3>Contacto</h3>
        <ul>
            <li><a href="">+543834675532 ✆</a></li>
            <li><a href="">+543834775643 ✆</a></li>
            <li><a href="">Ventas@antologia-libros.com.ar 📩</a></li>
            <li><a href="">Sarmiento 516 1er Piso 📍</a></li>
        </ul>
    </div>



</footer>

<script src="/js/sessionDivFunction.js"></script>
<script src="/js/burgerMenu.js"></script>