<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/loginStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/logo/logo_icon.png">
    <title>Iniciar Sesión - ANTOLOGÍA Libros-</title>
</head>

<body>
    <div class="form-container">
        <form action="" method="" class="login-form">

            <div class="img-logo">
                <img src="/images/logo/logo_icon.png" alt="antología-icon">
            </div>

            <div class="img-userLogin">
                <img src="/images/usuario-de-perfil.png" alt="userLogin">
            </div>

            <h2 class="form-title">INGRESE A SU CUENTA</h2>

            <div class="email">
                <label for="email">Email</label>
                <input class="email" type="email" name="email" placeholder="  Ingrese su e-mail" id="email">
            </div>

            <div class="password">
                <label for="password">Contraseña</label>
                <input class="pass" type="password" name="password" placeholder="  Ingrese su contraseña" id="password">
                <a class="forget" href="">Olvidé mi contraseña</a><br>
                <label for="remember">Recordar mi usuario
                <input type="checkbox" name="remember"></label>
            </div>

            <div class="login">
                <label><button class="btn-login" type="submit" name="login">INGRESAR</button></label>
            </div>

            <div class="noaccount">
                <label for="noaccount">No tengo una cuenta</label>
                <button class="btn-noaccount" type="button" name="noaccount">CREAR CUENTA</button>
            </div>

        </form>
    </div>
    
</body>
</html>