<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/loginStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap" rel="stylesheet">-->
    <link rel="icon" type="image/png" href="/images/logo/logo_icon.png">
    <title>Iniciar Sesión - ANTOLOGÍA Libros-</title>
</head>

<body>
    <div class="form-container">
        <form action="" method="" class="login-form">

            <div class="img-logo">
                <a href = '/'><img src="/images/logo/logo_icon.png" alt="antología-icon"></a>
            </div>

            <div class="img-userLogin">
                <img src="/images/usuario-de-perfil.png" alt="userLogin">
            </div>

            <h2 class="form-title">INGRESE A SU CUENTA</h2>

            <div class="email-section">
                <label for="email">Email</label>
                <input class="email" type="email" name="email" placeholder="Ingrese su e-mail" id="email">
            </div>

            <div class="password">
                <label for="password">Contraseña</label>
                <input class="pass" type="password" name="password" placeholder="Ingrese su contraseña" id="password">
                <a class="forget" href="">Olvidé mi contraseña</a><br>
                <label for="remember">Recordar mi usuario
                <input type="checkbox" name="remember"></label>
            </div>

            <div class="login">
                <label><button class="btn-login" type="submit" name="login">INGRESAR</button></label>
            </div>

            <div class="noaccount">
                <label for="noaccount">No tengo una cuenta</label>
                <a href="./register"> <button class="btn-noaccount" type="button" name="noaccount">CREAR CUENTA</button></a>
            </div>

        </form>
    </div>

    <footer class = "footer-container">
        <div>
            <p>ANTOLOGÍA Libros 2023 © - Todos los derechos reservados </p>
        </div>
    </footer>
    
</body>


</html>