<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/productDetailStyles.css">
    <title>Producto</title>
</head>
<body>

    <main class="producto-detail">
        <div class="box-product product-img">
            <img src="/public/images/ejemploLibro.png" alt="">
        </div>

        <div class="box-product product-info">
            <div class="box-info product-buy">
                <h1>TITULO DEL LIBRO</h1>
                <hr>
                <div class="info-data">
                    <p><span>Autor: </span><a href="">Nombre del Autor</a></p>
                    <p><span>Editorial: </span><a href="">Nombre de la Editorial</a></p>
                    <p><span>Autor: </span> 0000 </p>
                    <div class="data-category">
                        <p><span>Categorias</span></p>
                        <ul>
                        <li><a href="">Categoría1</a></li>
                        <li><a href="">Categoría2</a></li>
                        <li><a href="">Categoría3</a></li>
                        </ul>
                    </div>
                    
                </div>
                <hr>
                <h2></h2>
                <div class="info-button">
                    <h2>$$$</h2>
                    <button class="button-buy">COMPRA AHORA</button>
                    <button class="button-cart">AGREGAR AL CARRITO</button>
                </div>


            </div>
            <div class="box-info sypnosis">
                <h2>SINOPSIS</h2>
                <p>Lorem ipsum...</p>
            </div>
        </div>
    </main>

    <section class="recommendation">
        <hr>
        <div class="box-card">
            <h2>MAS DEL MISMO AUTOR</h2>
            <div class="card">
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/public/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/public/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/public/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/public/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <button class="card-more-products">VER MAS</button>
                
            </div>
    
        </div>
        <hr>
        <div class="box-card">
            <h2>MAS BUSCADOS</h2>
            <div class="card">
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/public/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/public/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/public/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/public/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <button class="card-more-products">VER MAS</button>

            </div>
        </div>
    </section>
    
</body>
</html>