<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productDetailStyles.css">
    <link rel="stylesheet" href="css/footerStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Producto</title>
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
</head>
<body>

    <main class="producto-detail">
        <div class="box-product product-img">
            <img src="/images/ejemploLibro.png" alt="">
        </div>

        <div class="box-product product-info">
            <div class="box-info product-buy">
                <h1>TITULO DEL LIBRO</h1>
                <hr>
                <div class="info-data">
                    <p><span>Autor: </span><a href="">Nombre del Autor</a></p>
                    <p><span>Editorial: </span><a href="">Nombre de la Editorial</a></p>
                    <p><span>Autor: </span> 0000 </p>
                    <div class="data-category">
                        <p><span>Categorias</span></p>
                        <ul>
                        <li><a href="">Categoría1</a></li>
                        <li><a href="">Categoría2</a></li>
                        <li><a href="">Categoría3</a></li>
                        </ul>
                    </div>
                    
                </div>
                <hr>
                <h2></h2>
                <div class="info-button">
                    <h2>$$$</h2>
                    <button class="button-buy">COMPRA AHORA</button>
                    <button class="button-cart">AGREGAR AL CARRITO</button>
                </div>


            </div>
            <div class="box-info sypnosis">
                <h2>SINOPSIS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu euismod nunc. Nunc eget felis et elit elementum suscipit vel mattis nulla. Curabitur in suscipit enim, quis vehicula diam. Fusce vitae blandit eros, sit amet egestas mi. Integer vitae fermentum quam, eu semper neque. Etiam tortor nisi, pretium at rhoncus sit amet, pellentesque et libero. Duis rhoncus scelerisque nunc, euismod ornare nisl molestie eget. Mauris vestibulum purus congue lorem ornare malesuada. Suspendisse venenatis tincidunt sem nec bibendum. Sed ut tincidunt lacus. Vivamus efficitur vitae ante at laoreet. Donec leo massa, consequat vitae pretium sed, malesuada auctor turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse sit amet auctor turpis, eget placerat nulla. Phasellus consequat diam euismod, congue mauris a, accumsan sem. Fusce sed enim rhoncus, varius magna id, sollicitudin enim.</p>
            </div>
        </div>
    </main>

    <section class="recommendation">
        <hr>
        <div class="box-card">
            <h2>MAS DEL MISMO AUTOR</h2>
            <div class="card">
                <div class="card-product">
                    <div class="card-info">
                    <img src="/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <button class="card-more-products">VER MAS</button>
                
            </div>
    
        </div>
        <hr>
        <div class="box-card">
            <h2>MAS BUSCADOS</h2>
            <div class="card">
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <div class="card-product">
                    <div class="card-info">
                    <img src="/images/ejemploLibro.png" alt="">
                    <hr>
                    <h3><a href="">TITULO DEL LIBRO</a></h3>
                    <p><a href="">Nombre del autor</a></p>
                    <p><a href="">Editorial</a></p>
                    </div>
                    <hr>
                    <div class="card-buy">
                        <h3>$$$</h3>
                        <button class="button-buy">COMPRA AHORA</button>
                        <button class="button-cart">AGREGAR AL CARRITO</button>
                    </div>
                </div>
    
                <button class="card-more-products">VER MAS</button>

            </div>
        </div>
    </section>

    <footer class="box-footer">
        <div class="box box-link">
            <h3>ENLACE</h3>
            <hr>
            <ul>
                <li><a href="">lorem impsu</a></li>
                <li><a href="">lorem impsu</a></li>
                <li><a href="">lorem impsu</a></li>
                <li><a href="">lorem impsu</a></li>
            </ul>
        </div>

        <div class="box box-link">
            <h3>ENLACE</h3>
            <hr>
            <ul>
                <li><a href="">lorem impsu</a></li>
                <li><a href="">lorem impsu</a></li>
                <li><a href="">lorem impsu</a></li>
                <li><a href="">lorem impsu</a></li>
            </ul>
        </div>

        <div class="box box-link">
            <h3>ENLACE</h3>
            <hr>
            <ul>
                <li><a href="">lorem impsu</a></li>
                <li><a href="">lorem impsu</a></li>
                <li><a href="">lorem impsu</a></li>
                <li><a href="">lorem impsu</a></li>
            </ul>
        </div>

        <div class="box box-contact">
            <img src="/images/logo/logo_p_horizontal.png" alt="">
            <h3>REDES SOCIALES</h3>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-regular fa-envelope"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>

    </footer>
    
</body>
</html>