@media (min-width: 330px){
    main.center {
        display: flex;
        justify-content: center;
        align-items: center;
        /*flex-wrap: wrap;*/
        flex-direction: column;
        margin-bottom: 10px;
    }
    main.center a {
        color: rgb(61, 107, 109);
        text-decoration: none; 
        font-weight: bold;
    }
    main.center th,td {
        border: 1px solid cadetblue; 
    }
    
    main.center th{
        /* background-color: rgba(95, 158, 160, 0.742);  */
        background-color: rgb(61, 107, 109);
        color: white; 
        font-weight: bold;
        padding: 2px;
    }
}

