@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

main form {
    border: solid gray 2px;
    background-color: rgba(128, 128, 128, 0.201);   /* #DAF7A6;*/
    padding: auto;
    margin-bottom: 3%;
}

div.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    border-top: dashed gray 2px;
}

div.btn-quitar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    order: 10;
}

div.quitar {
    background-color: grey;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

div.cabeceras, div.fila-2 {
    width: 100%;
}

div.cabeceras {
    display: none;
}

div.fila-2 {
    display: flex;
    width: 100%;
}

div.img-cart {
    order: 1;
    width: 35%;
    max-height: 120px;
    text-align: center;
    padding: 2px;
}

div.img-cart img {
    width: 80%;
    max-width: 122px;
    height: 100%;
}

div.datos {
    order: 2;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

div.fila-2 .titulo-libro{
    width: 100%;
    text-align: center;
    align-self: center;
}

div.fila-2 .cant-precio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.cant-precio div.botones-cantidad {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

div.botones-cantidad .btn-cant {
    width: 30%;
    height: 45px;
}

div.botones-cantidad input[value="-"] {
    border-right: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

div.botones-cantidad input[value="+"] {
    border-left: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

div.botones-cantidad .inp-cantidad {
    width: 40%;
    height: 45px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
}

#label-cant {
    display: none;
}

.cant-precio .precio {
    display: none;
}

.cant-precio .subtotal {
    width: 45%;
    align-self: center;
}

form div.total-pagar{
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
}

form div.total-pagar .total{
    padding-left: 10%;
    width: 55%;
    font-weight: bold;
}

form div.total-pagar .total-precio{
    width: 35%;
}

.delete {
    border: none;
    width: auto;
}

form button[type="submit"] {
    width: 100%;
   /* height: 30px;*/
/*    background-color: #ADF7A6;
    border: solid gray 2px; */
    background-color: #2F2F2F;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

form button[type="submit"].search-btn {
    /*width: 100%; */
    height: 30px;
    background-color: #ADF7A6;
    border: solid gray 2px;
    color: black;
}

form button[type="button"], form .info-button a.button {
    display: none;
}

form .btn-form {
    display: flex;
    margin-top: 2px;
    margin-bottom: 5px;
}


/* ----------------  */ 
.info-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-button button, .info-button a.button{
    display: block;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}
.info-button .button-buy{
    background-color: #2F2F2F;
    border: none;
    color: whitesmoke;
}

/*
.info-button .button-cart{
    background-color:whitesmoke;
    border: solid 1px #2F2F2F;
    margin-bottom: 20px;
} */
.info-button button:hover, .info-button a.button:hover{
    background-color: cadetblue;
    color: whitesmoke;
}
/*  ------------------  */

/* formulario creación */

main section.formulario-CU {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.form-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.form-group, div.form-group-ancho {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

div.form-group input, div.form-group-ancho input {
    width: 90%;
    padding-left: 5px;
}

div.form-group-ancho textarea{
    width: 90%;
    padding: 5px;
}

div.form-group input[type='file'] {
    width: 65%;
}

/* Multi select */
section.formulario-CU form div.form-group select {
    width: 65%;
}

form div.form-group div.ms-parent button[type="button"] {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form-group div.ms-parent div.ms-drop ul li label{
    width: 100%;
    display: flex;
    justify-content: left;
}

div.form-group div.ms-parent div.ms-drop ul li label input[type="checkbox"]{
    position: relative;
    width: 25%;
}

div.form-group div.ms-parent div.ms-drop ul li label span{
    position: relative;
    width: 75%;
    text-align: left;
}

div.form-group div.ms-parent div.ms-drop {
    position: absolute;
    max-width: 200px;
}

/* ---------------- */

div.form-group label, div.form-group-ancho label {
    width: 50%;
    text-align: center;
}

div.form-group div.contenedor-img {
    width: 100%;
    text-align: center;
}


div.form-group p.titulo-seccion-img {
    width: 100%;
    text-align: center;
}

div.form-group img {
    width: 50%;
    height: 150px;
}



/* tablets y smartphones grandes*/
@media (min-width: 481px) {
    div.btn-quitar {
        order: 0;
    }

    div.cabeceras {
        display: flex;
    }

    div.seccion-larga {
        width: 55%;
        text-align: center;
        font-weight: bold;
    }

    div.seccion {
        width: 15%;
        text-align: center;
        font-weight: bold;
    }

    div.img-cart {
        width: 15%;
        max-height: 120px;
        text-align: center;
        padding: 2px;
    }

    div.datos {
        width: 65%;
    }
    
    div.fila-2 .titulo-libro{
        width: 31%;
        text-align: center;
        align-self: center;
    }

    div.cant-precio div.precio {
        display: block;
        width: 33%;
        text-align: center;
        align-self: center;
    }

    div.fila-2 div.cant-precio {
        width: 69%;
        justify-content: flex-start;
    }

    div.cant-precio div.botones-cantidad {
        width: 33%;
    }

    .cant-precio .subtotal {
        width: 33%;
        text-align: center;
    }

    form div.total-pagar{
        display: flex;
        justify-content: flex-end;
    }

    form div.total-pagar .total{
        font-weight: bold;
        width: 25%;
    }
    
    form div.total-pagar .total-precio{
        width: 18%;
    }

    /*  ------------------  */

    /* formulario creación */
    
    section.formulario-CU form div.form-group select {
        width: 40%;
    }
    
    div.form-group label.for-select {
        width: 20%;
        text-align: center;
    }

    /*form edición */
    div.form-group img {
        width: 50%;
        height: 250px;
    }
}

/* tablets grandes y notebooks/laptops*/
@media (min-width: 769px) {

    main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    main h1 {
        text-align: center;
        display: block;
        width: 100%;
    }

    main form {
        width: 80%;
    }

    form div.total-pagar .total{
        font-weight: bold;
        width: 30%;
    }
    
    form div.total-pagar .total-precio{
        width: 15%;
    }

    form button[type="button"], form .info-button a.button{
        display: inline;
        width: 35%;
    }

    form button.submit {
        width: 35%;
    }

    form .btn-form {
        justify-content: space-around;
    }

    /*  ------------------  */

    /* formulario creación */
    div.form-group {
        /*width: 45%;*/
        display: flex;
        flex-wrap: wrap;

    } 

    div.form-group input {
        width: 75%;
    }

    div.form-group input[type='date'] {
        width: 40%;
    }

    div.form-group label{
        width: 20%;
    }

    div.form-group label.for-date{
        width: 40%;
    }

    /*div.form-group div.ms-parent div.ms-drop {
        max-width: none;
    }  */

    /*form edición */
    div.form-group img {
        height: 350px;
    }
    .info-button{
        margin-bottom: 10px;
    }
}

@media (min-width: 1280px) {
    div.form-group {
        width: 45%;
    } 

    form button[type="button"], form .info-button a.button {
        width: 25%;
    }
    
    form button.submit {
        width: 25%;
    }

    form div.total-pagar .total{
        font-weight: bold;
        width: 20%;
    }

    form div.total-pagar .total-precio{
        width: 10%;
    }

    /*form edición */
    div.form-group img {
        height: 250px;
    }
}