form div.errorMessage, form ul.errorMessage {
    color: red;
    margin-bottom: 5px;
}

.erroresJavascript {
    color: red;
}

section.apellido-nombre .firstnameError{
    order: 1;
}

section.apellido-nombre .lastnameError {
    order: 2;
}

@media (min-width: 769px) {
    section.apellido-nombre div.lastnameError,  section.apellido-nombre div.firstnameError{
        order: 3;
    }

}
