form div.errorMessage, form ul.errorMessage {
    color: red;
    margin-bottom: 5px;
}

.erroresJavascript {
    color: red;
}

section.apellido-nombre .firstnameError{
    order: 1;
}

section.apellido-nombre .lastnameError {
    order: 2;
}

form.contenedor-padre input.errorInput {
    background-color: #fce4e4;
    border: 2px solid #cc0033;
    outline: none;
}

.general-error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    color: #D8000C;
	background-color: #FFBABA;
    /*background-repeat: no-repeat;
    background-position: 10px center;*/
}

/*Para productEdit - validación front*/
.error-message {
    color: rgb(196, 15, 15);
    font-size: 13px;
    font-weight: bold;
}

@media (min-width: 769px) {
    section.apellido-nombre div.lastnameError,  section.apellido-nombre div.firstnameError{
        order: 3;
    }

    section.apellido-nombre div#fnerrors,  section.apellido-nombre div#lnerrors{
        order: 4;
    }
}
