
/* rotate */
main section div.libros article i{
    transition: transform 1s;
}

main section div.libros article:hover i{
    transform: rotate(360deg);
    color: rgb(204, 66, 2);
}
.card-buy {
    display: flex;
    justify-content: space-between;
}

.button-cart {
    width: 60%;
    padding: 4px;
    background-color: #2F2F2F;
    border: none;
    color: whitesmoke;
    font-size: 10px;
}
.button-buy {
    width: 40%;
    padding: 4px;
    background-color: #2F2F2F;
    border: none;
    color: whitesmoke;
    font-size: 10px;

}


/* Iluminar botones*/
.button-buy:hover, .button-cart:hover{
    background-color: cadetblue;
    color: whitesmoke;
}

/**/
a.image-link {
    max-height: 200px;
}

h4.description {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

@media (min-width: 481px) {
    .product_img {
        max-width: 193px;
        max-height: 193px;
    }
}

@media (min-width: 769px) {
    .button-buy,
    .button-cart {
        font-size: 15px; 
    }

    /**/
    .product_img {
        max-width: 151px;
        max-height: 151px;
    }
}

@media (min-width: 1100px) {

    .product_img {
        max-width: 281px;
        max-height: 281px;
    }
}
