
/* rotate */
main section div.libros article i{
    transition: transform 1s;
}

main section div.libros article:hover i{
    transform: rotate(360deg);
    color: rgb(255, 81, 0);
}
.card-buy {
    display: flex;
    justify-content: space-between;
}

.button-cart {
    width: 60%;
    padding: 4px;
    background-color: #2F2F2F;
    border: none;
    color: whitesmoke;
    font-size: 10px;
}
.button-buy {
    width: 40%;
    padding: 4px;
    background-color: #2F2F2F;
    border: none;
    color: whitesmoke;
    font-size: 10px;

}


/* Iluminar botones*/
.button-buy:hover, .button-cart:hover{
    background-color: cadetblue;
    color: whitesmoke;
}

@media (min-width: 769px) {
.button-buy,
.button-cart {
    font-size: 15px; 
}}