* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(27, 27, 27);
    background-image: url('/images/im-background-login.png');
    background-size: cover;
    background-position: center;
}

.form-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 95vh;
    /*height: auto;*/       
}

.login-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70vw;
    /*border: 1px solid #ccc;*/
    border-radius: 20px;
    background-color: #5f9ea0f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

.login-form div {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   padding: 10px;
}

.img-logo{
    align-self: flex-start;
    margin-left: 5px;
}

.img-logo img{
    width: 100px;
    height: auto;
}

.img-userLogin{
    align-self: center;
    margin-top: 0px; /* Reducción del espacio entre imágenes */
}

.img-userLogin img{
    width: 50px;
    height: auto;
}

.form-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.email input.email, 
.password input.pass{
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 17px;
    padding-left: 10px;
}

.forget{
    font-size: 13px;
    margin-top: 7px;
}

.forget:visited{
    color: rgb(0, 0, 79);
}

.btn-login,
.btn-noaccount {
    border-radius: 20px;
    font-size: 14px;
    padding: 8px 8px;
    border-width: 1px;
    font-weight: bold;
    background-color: rgb(197, 197, 197);
    transition: box-shadow 500ms;
}
.btn-noaccount{
    margin-left: 8px;
}
.btn-login:hover,
.btn-noaccount:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

label[for="email"], label[for="password"] {
    font-size: 15px;
    font-weight: bold;
}

.login{
    margin-top: 10px;
    margin-bottom: 35px;
    align-self: center;
}

.noaccount {
    align-self: flex-start;
}

footer{
    width: 100vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.726);
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
    }

.footer-container p {
    font-size: 14px;
    color: whitesmoke;
    
}

@media (max-width: 460px) {
    
    .login-form {
        padding: 8px;
        margin: 15px 10px 15px 10px;
        width: 90vw;
    }

    .img-logo img{
        width: 70px;
        height: auto;
    }

    .img-userLogin img{
        width: 30px;
        height: auto;
    }

    .form-title {
        font-size: 17px;
        margin-bottom: 12px;
    }

    div .email,
    div .password{
        padding: 7px;   
    }

    .email input.email, 
    .password input.pass{
        height: 4vh;
        width: 80vw;
    }

    .btn-login,
    .btn-noaccount {
        font-size: 12px;
    }

    .footer-container p {
        align-self: center;
        font-size: 11px;
    }
}

@media (min-width: 769px) {
    
    .login-form {
        margin: 5px 10px 5px 10px;
        padding: 5px;
        width: 50vw;
    }
    
    .img-logo img{
        width: 120px;
        height: auto;
    }

    label[for="email"], label[for="password"] {
        font-size: 19px;
    }

    .forget{
        font-size: 17px;
    }

    .footer-container p {
        padding: 5px 20px;
    }
    
}