*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*main*/
.producto-detail{
    display: flex;
    flex-direction: column;
}
.box-product{
    min-height: 100px;
    margin: 5px;
    text-align: center;
    line-height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.box-info{
    border: solid 1px #2F2F2F;
    margin: 5px;
    background-color: whitesmoke;
}
.box-info hr{
    width: 100%;
}
.product-img {
    flex-basis: 40%;
    border-radius: 5px;
    background-color: whitesmoke;
}

.btn-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.btn-group .btn-edit, .btn-group .slim{
    width: 80%;
    margin: 1%;
}

.btn-group .btn-delete{
    width: 100%;
}

.btn-group .btn-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-group .btn-edit, .btn-group .btn-delete{
    border: solid 1px #2F2F2F;
    font-size: 12px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    
}

.btn-group .btn-edit:hover {
    background-color: rgb(61, 107, 109);;
    color: whitesmoke;
}

.btn-group .btn-delete:hover {
    background-color: #F08080;
    color: whitesmoke;
}

.product-img img {
    width: 70%;
}
.product-info{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    font-weight: bold;
}

.info-data, .synopsis{
    text-align: left;
    margin-left: 10px;
    padding: 40px;
    line-height: 1;
}
.synopsis h2{
    margin-bottom: 20px;
}
.synopsis p{
    text-align: justify;
}

.info-data p {
    margin-bottom: 10px;
}
.info-data p span{
    font-weight: bold;
}

.info-data a{
    text-decoration: none;
    color: #2F2F2F;
}
.info-data a:hover{
    color: cadetblue;
}
.info-data ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.info-data li{
    display: inline;
    margin-right: 10px;
}
.info-button{
    justify-content: center;
}
.info-button button{
    display: block;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}
.info-button .button-buy{
    background-color: #2F2F2F;
    border: none;
    color: whitesmoke;
}
.info-button .button-cart{
    background-color:whitesmoke;
    border: solid 1px #2F2F2F;
    margin-bottom: 20px;
}
.box-info button:hover{
    background-color: cadetblue;
    color: whitesmoke;
}

/*Recomendation*/
.recommendation{
    margin-bottom: 50px;
}
.recommendation h2{
    text-align: center;
    padding: 10px;
}

h2.section-title {
    width: 100%;
}

.recommendation hr{
    margin: 50px;
}
.card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.card-product{
    width: 200px;
    border: solid 1px #2F2F2F;
    text-align: center;
    margin: 5px;
    background-color: whitesmoke;
}
.card img, .book-card img{
    width: 70%;
}
.card hr, .book-card hr{
    width: 100%;
    height: 1px;
    margin-bottom:10px ;
    margin: 0;
}
.card h3, .book-card h3, p{
    margin-bottom: 10px;
}
.card-info a{
    text-decoration: none;
    color: #2F2F2F;
}
.card-info a:hover{
    color: cadetblue;
}
.card-buy button{
    display: block;
    padding: 10px;
    width: 100%;
}
.card button:hover, .book-card button:hover{
    background-color: cadetblue;
    color: whitesmoke;
}
.card-buy .button-buy{
    background-color: #2F2F2F;
    border: none;
    color: whitesmoke;
}
.card-buy .button-cart{
    background-color:whitesmoke;
    border: none;
}
.card-more-products{
    background-color: #2F2F2F;
    color: whitesmoke;
    width: 100px;
    border: none;
    margin-bottom: 5px;
    text-align: center;
    padding: 20px;
}

.box-card {
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

/* Para ejs de categorias*/
section.genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.box-genre {
    width: 100%;
    border: solid 1px #2F2F2F;
    margin: 1%;
    background-color: whitesmoke;
    
}

.box-genre a{
    text-decoration: none;
    width: 100%;
    display: block;
    color: #2F2F2F;
}

.box-genre:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.224);
    background-color:cadetblue;
}

.box-genre:hover a{
    color: whitesmoke;
}

.book-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

@media (min-width: 481px) {
    .book-card{
        width: 50%;
    }

    /* Para ejs de categorias*/
    .box-genre {
        width: 48%;
    }
}

@media screen and (min-width: 768px) {
    .product-info {
        flex-direction: row;
    }

    .box-info {
        flex: 1;
    }

    .book-card{
        width: 33%;
    }

    /* Para ejs de categorias*/
    .box-genre {
        width: 31%;
    }
}

@media screen and (min-width: 1100px) {
    .producto-detail {
        flex-direction: row;
    }

    /* edicion y eliminar*/
    .btn-group .btn-edit, .btn-group .slim{
        width: 35%;
    }

    .card-buy a.button-read{
        background-color: #2F2F2F;
        border: none;
        display: block;
        padding: 10px;
        color: whitesmoke;
        text-decoration: none;
    }

    .card-buy .button-read:hover{
        background-color: cadetblue;
        color: whitesmoke;
    }

    
    .book-card{
        width: 25%;
    }

    /* Para ejs de categorias*/
    .box-genre {
        width: 23%;
    }
}