* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
}

/*Header*/
header {
    /*background-color: #ffa074;*/
    background-color: cadetblue;
}
.view{
    width: 90%;
}

div.top-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*background-color: #ffa074;
    background-color: #2ba162;*/
    background-color: rgb(61, 107, 109);
    padding: 2%;
    justify-content: space-around;
}

div.burger-menu {
    border-radius: 5px;
    background-color: #2f2f2f;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    /*width: 40px;*/
    width: 15%;
    margin: auto;
    max-width: 40px;
    max-height: 40px;
}

div.logo {
    order: 1;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

div.logo img{
    width: 100%;
}

div.search-bar {
    margin-top: 5px;
    order: 10;
    width: 100%;
}

div.search-bar form {
    display: flex;
    justify-content: center;
}

div.search-bar form input {
    width: 90%;
    padding-left: 5px;
}

div.search-bar form button {
    width: 10%;
}

div.iconos {
    order: 3;
    width: 30%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-self: stretch;
    position: relative;
    /*padding: 2%;*/
}

div.iconos div.icono {
    /* background-color: #F08080;*/
    background-color: #dedede;
    /*width: 45%;*/
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

div.iconos div.icono a {
    width: 100%;
    /*border-radius: 50%;*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.iconos .icono:hover{
    border: solid 1px black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.224);
    /*border: solid 1px greenyellow;*/
}

div.iconos div.icono a{
    /*color: greenyellow;*/
    color: black;
}

/* barra de navegación */
header nav {
    display: none;
    overflow: hidden;
    background-color: cadetblue;
    position: relative;
}

header nav ul {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
}

header nav ul li { 
    width: 100%;
    text-align: left;
    
   /* text-decoration: none; */
}

header nav ul li:hover { 
    background-color: whitesmoke;    
   /* text-decoration: none; */
}


header nav ul li a{
    text-decoration: none;
    text-align: left;
    display: block;
    width: 100%;
    padding: 2%;
    color: black;
}

header nav ul li a:hover{
    text-decoration: none;
}

/* --------- */

/* ----------------- */

/* menu cuando usuario inicia sessión */
div.session-div {
    order: 5;
    background-color: cadetblue;
    /*display: flex;*/
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* display: none; */
}

div.iconos div.session-div-769 {
    background-color: cadetblue;
    padding: 4%;
    border-radius: 5px;
    border: 1px white solid;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    position: absolute;
    top: 45px;
    right: 100px;
    z-index: 5;
}

div.session-div a, div.session-div-769 a{
    text-decoration: none;
    text-align: left;
    width: 100%;
    padding: 2%;
}

div.session-div a{
    color: white;
}

div.session-div-769 a{
    color: black;
}

div.session-div p, div.session-div-769 p{
    font-size: 14px;
    padding: 1%;
}

div.session-div a:hover{
    background-color: lightcoral;
}

/* -------------  */

/* Home */

div.libros_titulares {
    display: flex;
    flex-wrap: wrap;
}

.libros_titulares h3{
    font-size: 19px;
    border: cadetblue solid;
    /*border: salmon solid 2px;*/
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    margin: 0%, 0%;
    /*background-color: #EDBB99;*/
    background-color: rgba(95, 158, 160, 0.742);
    width: 100%;
}

/* Para que rote el camioncito */

main section div.libros article:hover i{
    transform: rotate(-360deg);
    color: rgb(255, 81, 0);
}


.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    margin-top: 5px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #f3ecec;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    /*display: block;*/
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

main section div.libros article:hover{
    background-color: rgba(55, 98, 99, 0.377);
    /*background-color: rgb(228, 163, 163);*/
}

main section div.libros article:hover h4,
main section div.libros article:hover .discount {
    font-weight: bold;
}
 
main section div.libros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

main section div.libros article{
    width: 98%;
}

.price,
.discount{
    width: 50%;
}

/*error*/

.b-error {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #5f9ea0b1;
    /*background-image: url('/images/im-background-login.png');
    background-size:contain ;
    background-position: center;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: none;
}

.img-error img{
    width: 150px;
    height: auto;
}
.img-logo img {
    width: 90px;
    height: auto;
    margin-top: 30px;
}

/*Listado Productos*/

.formulario-CU{
    flex-direction: row;
}

.tabla-listado {
    /* border: 1px solid cadetblue; */
    /*border: #F08080 1px;*/
    background-color: #ebebeb;
    width: 100%;
    /* font-size: 7.5px; */
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tabla-listado a {
    color: rgb(61, 107, 109);
    text-decoration: none; 
    font-weight: bold;
}

.tabla-listado th,td {
    border: 1px solid cadetblue; 
    padding: 10px; 
    text-align: left; 
}

.tabla-listado th{
    background-color: rgba(95, 158, 160, 0.742); 
    color: white; 
    font-weight: bold; 
}

.tabla-listado tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para filas pares */
}

.tabla-listado tr:hover {
    background-color: #ddd;
}

/* Listado de libros */
.bigScreen {
    display: none;
}

.addButton{
    height: 40px;
    width: auto;
    border:none;
    border-radius: 5px;
    background-color: cadetblue;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    /* float: left;
    margin-right: 20px; */
}

@media (min-width: 481px){
    main section div.libros article{
        width: 45%;
    }
    /*Listado Libros*/
    .tabla-listado {
        font-size: 15.5px;
    }
}

@media (min-width: 769px){
    main section div.libros article{
        width: 22%;
    }

    /* Listado de libros */
    .bigScreen {
        display: table-cell;
    }
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}


/*Register*/

body{
    text-align: center;
    /*margin-top: 2vw;*/
    border: solid 2px;
    border-top: solid 2px;
    /*background-color:   #4538b8;eee2db*/
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}


div.titulo i{
    font-size: 6vw;
}

.contenedor-padre{
    display: flex;
    flex-direction: column;
    /*width:90vw;*/
    align-items: center;
    font-family: 'Poppins', sans-serif;
    /*margin-left: 5vw;*/
    margin-bottom: 2vw; 
    border: solid 2px;
    font-size: 3vw;
    border-radius: 15px;
    padding: 10px;
}

form.contenedor-padre input{
    padding-bottom:10px;
    width: 80vw;
    font-size: 3vw; 
    border: solid black 2px;
    margin-bottom: 5px;
}

form.contenedor-padre input[type="file"]{
    border:white;
}

.contenedor-padre label{
    font-weight: bold;
}

.btn-widht{
    margin-top: 7px;
    margin-bottom: 20px;
    width: 100%;
    /*width: 40vw;
    justify-content: column;
    font-size: 3vw;*/
}

.btn-register,
.btn-account{
    width: 100%;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    /*font-family: 'Verdana Pro Cond SemiBold', sans-serif;*/
    /*border-radius: 20px;*/
    /*background-color: rgba(82, 126, 128, 0.384);*/
    /*background-color: #ffa074;*/
    background-color: rgb(197, 197, 197);
    /*color: #2f2f2f;
    justify-content: center;*/
    /*align-items: center;
    box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.5), -5px -5px 2px rgb(0, 0, 0, 0.5) inset;*/
    border: 1px;
}

.btn-register{
    background-color: #2f2f2f;
    border: none;
    color: whitesmoke;
    height: 45px;
}
.btn-register:hover,
.btn-account:hover{
    background-color: rgb(61, 107, 109);
    color: whitesmoke;
    /*background-color: rgba(63, 100, 101, 0.482);*/
    cursor: pointer;
    
}

.apellido-nombre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80vw;
    align-items: center;
    margin-top: 20px;
}



section.apellido-nombre input, section.apellido-nombre label {
    width: 100%;
}

section.apellido-nombre label[for='firstname'], section.apellido-nombre input[id='firstname'] {
    order: 1;
}

section.apellido-nombre label[for='lastname'], section.apellido-nombre input[id='lastname'] {
    order: 2;
}

/* Main  */
h1 {
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #EDBB99;
}

footer .pie{
    display: flex;
    justify-content: space-between;
}

/* tablets grandes y notebooks/laptops*/
@media (min-width: 481px) {

    /*Footer*/
    footer section {
        width: 45%;
    }
}

/* tablets grandes y notebooks/laptops*/
@media (min-width: 769px) {

    /*header*/
    div.burger-menu {
        display: none;
    }

    div.logo {
        width: 35%;
    }

    div.search-bar {
        margin-top: 5px;
        order: 2;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.search-bar form{
        width: 100%;
    }

    div.iconos {
        width: 20%;
    }

    header nav {
        width: 100%;
        display: flex;
        max-height: 35px;
        justify-content: space-around;
       /* border: solid #c3efd7 1px;*/
    }

 /*   header nav.admin {
        justify-content: flex-start;
       /* border: solid #c3efd7 1px;*
    } */

    header nav ul{
        display: flex;
        width: 100%;
        padding: 0px;
        flex-direction: row;
        justify-content: space-around;
    }

    header nav.admin ul{
        justify-content: flex-start;
    }

    header nav ul li {
        list-style-type: none;
        width: 14%;
        /*margin: 1% 0px;*/
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav ul li:hover {
        background-color: rgb(61, 107, 109);
    }

    header nav ul li a {
        width: 100%;
        text-decoration: none;
        text-align: center;
        color: black;
        font-size: 14px;
    }
 

    header nav ul li:hover a {
        text-decoration: none;
        text-align: center;
        color: whitesmoke;
    }

    /* menu cuando usuario inicia sessión */
    /*div.iconos div.session-div-769 {
        display: inline;
    } */

    div.session-div {
        display: none;
    }

    div.session-div-769 a#logout{
        background-color: rosybrown;
        color: white;
        border: 1px solid red;
        border-radius: 5px;
        display: inline;
        text-align: center;
    }

    div.session-div-769 a:hover{
        color: white;
    }
    
    div.session-div-769 a#logout:hover{
        background-color:red;
    }

    /*div.iconos div.session-div a{
        text-decoration: none;
    }*/

    div.session-div .visualSeparate {
        display: block;
    }

    /* -------------  */

    /*Main*/
    h1 {
        font-size: 40px;
        text-align: left;
        padding: 12px;
        line-height: 60px;
    }

    /* Footer */

    footer section {
        width: 20%;
    }

    /*Register*/ 

    .registro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

    .titulo{
       font: 1vw;
    }

    /*div.titulo i{
        font-size: 8vw;
    }*/

    .contenedor-padre{
        width: 60vw;
        border: solid 2px;
        font-size: 1.5rem;
        margin-left: 1vw;
    }

    
    form.contenedor-padre input{
    padding: 8px;
    width: 90%;
    font-size: 1.5rem;
    border: solid black 2px;
    }

    /*.btn{
        border-radius: 30px;
        box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.5), -5px -5px 2px rgb(0, 0, 0, 0.5) inset;
        border: 1px solid;
    }*/

    .btn-register,
    .btn-account{
        height: 40px;
        font-size: 20px;
    }

    .apellido-nombre{
        width: 100%;
        margin-top: 30px;
    }
    section.apellido-nombre input, section.apellido-nombre label, section.apellido-nombre div.errorMessage{
        width: 40%;
    }

    section.apellido-nombre label[for='firstname'], section.apellido-nombre label[for='lastname'] {
        order: 1;
    }
    
    section.apellido-nombre input[id='firstname'], section.apellido-nombre input[id='lastname'] {
        order: 2;
    }

    /*error*/

    .b-error div h2{
        font-size: 30px;
    }
    .img-error img{
        width: 220px;
        height: auto;
    }
    .img-logo img {
        width: 150px;
        height: auto;
    }

    /*Listado Productos*/

    .tabla-listado {
        font-size: 16px;
        margin-bottom: 20px;
    }

}

@media (min-width: 1100px) {
    div.iconos div.session-div-769 {
        right: 150px;
    }
}