* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Header*/
header {
    background-color: #ffa074;
}
.view{
    width: 90%;
}

div.top-header {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffa074;
    padding: 2%;
    justify-content: space-around;
}

div.burger-menu {
    border-radius: 5px;
    background-color: #F08080;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    /*width: 40px;*/
    width: 15%;
    margin: auto;
    max-width: 40px;
    max-height: 40px;
}

div.logo {
    order: 1;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

div.logo img{
    width: 100%;
}

div.search-bar {
    margin-top: 5px;
    order: 10;
    width: 100%;
}

div.search-bar form {
    display: flex;
    justify-content: center;
}

div.search-bar form input {
    width: 90%;
}

div.search-bar form button {
    width: 10%;
}

div.iconos {
    order: 3;
    width: 30%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-self: stretch;
    /*padding: 2%;*/
}

div.iconos div.icono {
    background-color: #F08080;
    width: 45%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.iconos div.icono a{
    color: blue;
}

header nav {
    display: none;
}


/* -------------  */
/*Register*/

.body{
    text-align: center;
    margin-top: 2vw;
    border: solid 2px;
    border-top: solid 2px;

}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}


div.titulo i{
    font-size: 8vw; 
}

.contenedor-padre{
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items: center;
    font-family: 'Verdana Pro SemiBold', sans-serif;
    margin-left: 5vw;
    margin-bottom: 2vw;
    border: solid 2px;
    font-size: 3vw;
}

form.contenedor-padre input{
    padding-bottom:10px;
    width: 80vw;
    font-size: 3vw;
    border: solid black 2px;
    margin-bottom: 20px;

}

div.btn-widht input{
    width: 40vw;
    justify-content: column;
    font-size: 3vw;
}

.btn{
    display: flex;
    font-family: 'Verdana Pro Cond SemiBold', sans-serif;
    border-radius: 20px;
    background-color: #ffa074;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.5), -5px -5px 2px rgb(0, 0, 0, 0.5) inset;
    border: 2px solid;
}

.btn:hover{
    background-color: #F08080;
    cursor: pointer;
}

.apellido-nombre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80vw;
    align-items: center;
    margin-top: 20px;
}



section.apellido-nombre input, section.apellido-nombre label {
    width: 49%;
}




/* Main  */
h1 {
    font-size: 18px;
    text-align: center;
}


/* tablets grandes y notebooks/laptops*/
@media (min-width: 769px) {

    /*header*/
    div.burger-menu {
        display: none;
    }

    div.logo {
        width: 35vw;
    }

    div.search-bar {
        margin-top: 5px;
        order: 2;
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.search-bar form{
        width: 100vw;
    }

    div.iconos {
        width: 20vw;
    }

    header nav {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        border: solid orangered 1px;
    }

    header nav ul{
        display: flex;
        width: 100vw;
        justify-content: space-around;
    }

    header nav ul li {
        list-style-type: none;
        width: 14vw;
        margin: 1%;
        text-align: center;
    }

    header nav ul li a {
        text-decoration: none;
        text-align: center;
        color: black;
    }
    /* ---------- */

    /*Register*/ 

    .registro{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

    .titulo{
        font: 1vw;
    }

    div.titulo i{
        font-size: 8vw; 
    }

    .contenedor-padre{
        width: 60vw;
        border: solid 2px;
        font-size: 1.5rem;
        margin-left: 1vw;
    }

    
    form.contenedor-padre input{
    padding: 8px;
    width: 90%;
    font-size: 1.5rem;
    border: solid black 2px;
    }

    .btn{
        border-radius: 30px;
        box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.5), -5px -5px 2px rgb(0, 0, 0, 0.5) inset;
        border: 1px solid;
    }

    div.btn-widht input{
        width: 200px;
        justify-content: column;
        font-size: 1rem;
    }

    .apellido-nombre{
        width: 100%;
        margin-top: 30px;
    }
    section.apellido-nombre input, section.apellido-nombre label {
        width: 40%;
    }

    
    




}
    


    
