<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/headParcial.ejs') %>
    <title>API Documentación</title>
    <link rel="stylesheet" href="/css/cartStyles.css">
    <link rel="stylesheet" href="/css/apiDocStyles.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <main class="center">
        <h1>API Documentación</h1>
        
        <div style="overflow-x:auto;">
            <table>
                <thead>
                    <tr>
                        <th>OPERACIÓN</th>
                        <th>ENDPOINT</th>
                        <th>MÉTODO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Listar Libros</td>
                        <td><a href="/api/books">/api/books</a></td>
                        <td>GET</td>
                    </tr>

                    <tr>
                        <td>Listar 8 Libros según página</td>
                        <td><a href="/api/books/page?page=8">/api/books/page?page=8</a></td>
                        <td>GET</td>
                    </tr>
    
                    <tr>
                        <td>Detalle Libro</td>
                        <td><a href="/api/books/1">/api/books/:id</a></td>
                        <td>GET</td>
                    </tr>
                    <tr>
                        <td>Detalle Último Libro</td>
                        <td><a href="/api/books/last">/api/books/last</a></td>
                        <td>GET</td>
                    </tr>
                    <tr>
                        <td>Listar Autores</td>
                        <td><a href="/api/authors">/api/authors</a></td>
                        <td>GET</td>
                    </tr>
                    <tr>
                        <td>Añadir Autor/a</td>
                        <td><a href="/api/authors">/api/authors</a></td>
                        <td>POST</td>
                    </tr>
                    <tr>
                        <td>Listar Géneros</td>
                        <td><a href="/api/genres">/api/genres</a></td>
                        <td>GET</td>
                    </tr>
                    
                    <tr>
                        <td>Añadir Género</td>
                        <td><a href="/api/genres">/api/genres</a></td>
                        <td>POST</td>
                    </tr>
                    <tr>
                        <td>Listar Usuarios</td>
                        <td><a href="/api/users">/api/users</a></td>
                        <td>GET</td>
                    </tr>
                    
                    <tr>
                        <td>Detalle Usuario</td>
                        <td><a href="/api/users/1">/api/users/:id %></a></td>
                        <td>GET</td>
                    </tr>
    
                    <tr>
                        <td>Lista Editoriales</td>
                        <td><a href="/api/editorials">/api/editorials</a></td>
                        <td>GET</td>
                    </tr>
    
                </tbody>
            </table>
        </div>
        
        
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>