<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="stylesheet" href="css/cartstyles.css">-->
    <link rel="stylesheet" href="/css/footerStyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.cdnfonts.com/css/verdana-pro-cond" rel="stylesheet">
                     
</head>

<body class="body">

    <%- include('../partials/header.ejs') %>
    
    <main class="registro">
        <div class="titulo">
            <i class="fas fa-user-plus"></i> <p>REGISTRO</p>
        </div>

        <form action="" class="contenedor-padre">
            <section class="apellido-nombre">
                <label for="name">Nombre:</label>
                <label for="apellido">Apellido:</label>
                <input type="text" required name="name" id="name" autocomplete="name">
                <input type="text" required name="apellido" id="apellido">
            </section>
    
            <div>
                <label for="usuario">Usuario:</label>
            </div>
            <input type="text" name="usuario" id="usuario" required placeholder="Introduzca un nombre de usuario">
            
            <div>
                <label for="email">E-mail: </label>
            </div>
            <input type="email" name="email" placeholder="Ingrese su e-mail" autocomplete="email" required id="email">
            
            <div>
                <label for="contraseña">Contraseña:</label>
            </div>
            <input type="password" required name="contraseña" id="contraseña"  placeholder="Ingrese una contraseña" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}"
            title="La contraseña debe tener al menos 8 caracteres, incluir una mayúscula, una minúscula, un número y un carácter especial.">
            
            <div>
                <label for="confirmar">Contraseña nuevamente:</label>
            </div>
            <input type="password" required name="confirmar" id="confirmar" placeholder="Repita la contraseña" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}">

            <div>
                <label for="avatar">Imagén de perfil:</label>
            </div>
            <input type="file" name="avatar" id="avatar" accept="image/*">
            
            <div class="btn-widht">
                <button class="btn-register" type="submit" name="registrar" id="registrar">REGISTRARME</button>
                <a href="./login"><button class="btn-account" type="button">¿Ya tienes cuenta?</button></a>
            </div>
        </form>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>


</html>