<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/headParcial.ejs') %>
    <title>Registrar libro</title>
    <link rel="stylesheet" href="/css/cartStyles.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <h1>Registro agregado</h1>
        
            <h2>Registro Agregado</h2>
            <a href="/products/create">Cargar uno nuevo</a>
        
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>