<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="icon" type="image/png" href="/images/favicon_antologia.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/cartstyles.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    
    <main>
        <h1>En el carrito</h1>
        <form>
            <div class="cabeceras">
                <div class="seccion-larga">Producto</div>
                <div class="seccion">Precio</div>
                <div class="seccion">Cantidad</div>
                <div class="seccion">Subtotal</div>
            </div>
            <div class="contenedor">
                <div class="fila-2">
                    <div class="btn-quitar">
                        <div class="quitar">X</div>
                    </div>
                    <div class="img-cart">
                        <img src="/images/ejemplo-libro.jpg" alt="libro en carro">
                    </div>
                    <div class="datos">
                        <div class="titulo-libro">Titulo</div>
                        <div class="cant-precio">
                            <div class="precio">$1111.00</div>
                            <div class="botones-cantidad">
                                <input type="button" value="-" class="btn-cant">
                                <label id="label-cant" for="cantidad">cantidad</label> 
                                <input type="number" id="cantidad" class="inp-cantidad" value="1" min="0">
                                <input type="button" value="+" class="btn-cant">
                            </div>
                            
                            <div class="subtotal">$1111.00</div>                        
                        </div>
                    </div>
                </div>   
                
            </div>
            <div class="contenedor">
                <div class="fila-2">
                    <div class="btn-quitar">
                        <div class="quitar">X</div>
                    </div>
                    <div class="img-cart">
                        <img src="/images/books/el_viento_conoce_mi_nombre.webp" alt="libro en carro">
                    </div>
                    <div class="datos">
                        <div class="titulo-libro">Titulo</div>
                        <div class="cant-precio">
                            <div class="precio">$1111.00</div>
                            <div class="botones-cantidad">
                                <input type="button" value="-" class="btn-cant">
                                <label id="label-cant" for="cantidad">cantidad</label> 
                                <input type="number" id="cantidad" class="inp-cantidad" value="1" min="0">
                                <input type="button" value="+" class="btn-cant">
                            </div>
                            
                            <div class="subtotal">$1111.00</div>                        
                        </div>
                    </div>
                </div>   
                
            </div>
            <div class="total-pagar">
                <div class="total">TOTAL:</div>
                <div class="total-precio">$2222.00</div>
            </div>
            <div class="info-button">
            <!-- <div class="btn-form"> -->
                <button type="button"><i class="fa-regular fa-circle-left"></i> Buscar otro producto</button>
                <button type="submit" class="submit">Realizar Compra</button>
            </div>
        </form>
    </main>
    <footer>
        <section>
            <h5>Guía</h5>
            <p>¿Quienes Somos?</p>
            <p>Preguntas Frecuentes</p>
        </section>
        <section>
            <h5>Productos</h5>
        </section>
        <section>
            <h5>Medios de pago</h5>
        </section>
        <section>
            <h5>Redes Sociales</h5>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-regular fa-envelope"></i>
            <i class="fa-brands fa-twitter"></i>            
        </section>
    </footer>
</body>
</html>